.button {
  @apply px-4 py-2 border min-w-max border-grayDark rounded-md font-medium flex justify-center gap-2 shadow-lg hover:shadow-inner   duration-200 hover:text-white  disabled:pointer-events-none;
}
