@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --categoryItem: 240px;
}

html {
  height: max-content;
  min-height: 100%;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100%;
  background: rgb(222, 226, 227);
  background: linear-gradient(90deg, rgb(188, 238, 252) 0%, rgb(234, 255, 249) 40%, rgb(197, 243, 255) 100%);
}

footer {
  flex: 0 0 auto;
}

@media only screen and (max-width: 992px) {
  :root {
    --categoryItem: 190px;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --categoryItem: 140px;
  }
}
@media only screen and (max-width: 425px) {
  :root {
    --categoryItem: 110px;
  }
}
